[workspace]
members = ["core", "metatron", "bridge"]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
authors = ["Sebastian Klemm"]

[profile.release]
opt-level = 3
lto = true
codegen-units = 1

